.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.flex-container {
  display: flex;
  flex-direction: column;
}
.modal-form{
	position: relative;
}
.uuid-btn{
	position: absolute;
	transition: transform .25s, opacity .25s;
	opacity: .7;
	cursor: pointer;
	font-size: 3em;
	font-family: serif;
	line-height: 1;
}
.uuid-btn:before{
	content: "\203B";
}
.uuid-btn:hover{
	opacity: 1;
	transform: rotate(90deg);
    background-color: pink;
}
.counter--count{
    background-color: pink;
}